:root{
    --textcolor: #ac3b61;
    --linkcolor: #123c69;
    --backgroundcolor: #bab2b5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--linkcolor);
    text-decoration: none;
}

/*Navigation Bar*/

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
}

nav .left a{
    color: var(--textcolor);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--textcolor);
    margin: 0 10px;
    transition: .1s;
}

nav .right a:hover{
    color: var(--linkcolor);
}

nav .right a:last-child{
    color: var(--backgroundcolor);
    background-color: var(--textcolor);
    padding: 5px 15px;
    border-radius: 5px;
    transition: .1s;
}

nav .right a:last-child:hover{
    color: var(--linkcolor);

}

nav .right a span{
    margin-left: 5px;
}

/*Section 1 - Hero*/

.Hero-Section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.Hero-Section .text h2{
    font-size: 45px;
}

.Hero-Section .text .links{
    margin-top: 25px;
}

.Hero-Section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--linkcolor);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.Hero-Section .text .links a:hover{
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
}

.Hero-Section .text{
    flex: 5;
}

.Hero-Section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.Hero-Section .headshot img{
    width: 350px;
    border-radius: 50%;
}

/*Section 2 -Skills*/

.Skills-Section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.Skills-Section h2{
    text-align: center;
    font-size: 35px;
}

.Skills-Section .text{
    text-align: center;
    margin-bottom: 20px;
}

.Skills-Section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Skills-Section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.Skills-Section .cells .cell span{
    font-size: 18px;
}

.Skills-Section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

/*Section 3 - Projects*/

.Projects-Section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.Projects-Section h2{
    text-align: center;
    font-size: 35px;
}

.Projects-Section .assurant{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    flex: 8;
}

.Projects-Section .assurant .logo{
    flex: 2;
    display: flex;
    justify-content: left;
}

.Projects-Section .hpcc{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
    flex: 8;
}

.Projects-Section .hpcc .logo{
    flex: 2;
    display: flex;
    justify-content: left;
}

.Projects-Section .bsa{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    flex: 8;
}

.Projects-Section .bsa .logo{
    flex: 2;
    display: flex;
    justify-content: left;
}

/*Section 4 - Contact*/

.Contact-Section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.Contact-Section h2{
    font-size: 35px;
}

.Contact-Section .group{
    display: flex;
    gap: 50px;
}

.Contact-Section .group .text{
    flex: 3;
    margin-top: 20px;
}

.Contact-Section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.Contact-Section .group form input,
.Contact-Section .group form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--linkcolor);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;    
}

.Contact-Section .group form button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--linkcolor);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.Contact-Section .group form button:hover{
    filter:brightness(.9);
}

@media (max-width:850px){
/*Section 1 - Hero*/
    .Hero-Section .text h2{
        font-size: 35px;
    }
/*Section 4 - Contact*/
    .Contact-Section .group{
        flex-direction: column;
    }
}

@media (max-width:750px){
    /*Section 1 - Hero*/
        .Hero-Section{
            flex-direction: column-reverse;
        }
        .Hero-Section .headshot img{
            width: 300px;
        }

    }

@media (max-width: 650px){
    /*Navigation Bar*/
    nav{
        padding: 10px 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--textcolor);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }

    /*Section 1 -Hero*/
    .Hero-Section{
        padding: 0 20px;
    }

    .Hero-Section .text h2{
        font-size: 30px;
    }

    /*Section 2 - Skills*/
    .Skills-Section{
        padding: 0 20px;
    }

    .Skills-Section .cells .cell span{
        font-size: 16px;
    }

    /*Section 3 - Projects*/

    .Projects-Section{
        padding: 0 20px;
        flex-direction: column;
    }

    /*Section 4 - Contact*/

    .Contact-Section .group{
        padding: 0 20px;
    }

}